{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="alert alert-primary">
                                <h2>Add Product</h2>
                            </div>

                            <form action="#" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <select class="w-100" name="cat">
                                            {% for i in Cat %}
                                        <option value={{i}}>{{i}}</option>
                                            {% endfor %}
                                    </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <select class="w-100" name="brand">
                                            {% for i in Brand %}
                                        <option value={{i}}>{{i}}</option>
                                            {% endfor %}
                                    </select>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name="name" value="" placeholder="Enter product Name" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="description" placeholder="Description">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="number" class="form-control" name="basicPrice" placeholder="Enter Basic Price" value="">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="number" class="form-control mb-3" name="discount" placeholder="Discount" value="">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name="color" placeholder="Enter Color" value="">
                                    </div>
                                     <div class="col-md-12 mb-3">
                                        <input type="file" name="img1">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="file" name="img2">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="file" name="img3">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="file" name="img4">
                                    </div>
                                   <div class="col-md-12 mb-3">
                                        <button type="submit" class="btn btn-info">Add</button>
                                    </div>
                                </div>
                            </form>
                            {% if messages %}
                                <div class="alert alert-success">
                                {%for i in messages%}
                                    {{i}}
                                {%endfor%}
                                </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

{% endblock body %}
</html>